* {
    box-sizing: border-box;
}
.header {
    border: 1px solid grey;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.row{
    clear: both;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border-bottom: 1px solid grey;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-13 {
    width: 25%;
    padding-left: 0px;
    border-bottom:1px solid grey;
}
.img{
    float: left;
}
.clabel{
    font-family: sans-serif;
    margin-top: 3%;
    font-weight: bold;
  
    
}
.clabel1{
    float: left;
     text-decoration: underline;
}
.clabel2{
     text-decoration: underline;
     float: right;
}
.clabel3{
    padding-top: 1%;
    clear:both;
}
.clabelOrg{
    float: left;
    
}
.parentImg{
    float: left;
}
.children{
    margin-left: 24px;

}
.appDiv{
    margin:5%;
}