.TabContainer{
	width:100%;
}

.TabFullRow{
	width:98%;
	margin:5px auto;
	float:left;
}

.TabLeftRow{
	width:70%;
	float:left;
}

.TabRightRow{
	width:30%;
	float:left;
}

.UploadFilesTablabel{
	width:100%;
	font-weight:bold;
}

.UploadFilesTextBox{
	width : 100%;
	height: 30px;
   	border-radius: 3px;
}

.UploadFilesSelectBox{
	width : 100%;
	height: 30px;
	border-radius: 3px;
}

.UploadFilesTextArea{
	width : 100%;
	border-radius: 3px;
	resize: none;
}

/* Tab Component customization */
.react-tabs [role=tab]{
	position:static;
    padding:6px 0px;
    margin:0px 12px;
}

.react-tabs [role=tablist] {
    background-color: #F3F3F3;
    border: none;
}


.react-tabs [role=tab][aria-selected=true] {
    background: #F3F3F3;
    color: #1B6DAB;
    border-color:#FFFFFF;
    border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    border-bottom: 5px solid #094877;
}